<div class="card checkinslist">
	<h1>Check-ins</h1>
	<p>Segue uma lista dos ultimos check-ins feitos</p>
	<div class="search cf">
		<h2>Procurar check-ins</h2>
		<input type="text" ng-model="busca" placeholder="busca">

		<div class="formgroup">
			<span class="label">por:</span>
			<select ng-model="order" name="filtrar">
				<option value="nome">Nome</option>
				<option value="sobrenome">Sobrenome</option>
				<option value="data">Data</option>
			</select>
		</div>

		<div class="formgroup">
			<input type="radio" id="dirascending" ng-model="direction" name="direction">
			<label for="dirascending">asc</label>&nbsp;

			<input type="radio" id="dirscending" ng-model="direction" name="direction" value="reverse">
			<label for="dirscending">desc</label>&nbsp;
		</div>

		<div ng-show="currentUser" class="buttons cf">
			<button class="btn btn-pick" ng-hide="recordId" ng-click="pickRandom()">Sortear usuário</button>
			<button class="btn btn-pick" ng-show="recordId" ng-click="recordId=''" >Reset</button>
		</div>

	</div>
	<ul class="userlist cf">
		<li ng-class="checkin.userState" ng-repeat="checkin in checkins | orderBy: order:direction | filter: { $id: recordId, $: busca }">
			 <div class="checkin">
			 		<div class="buttons">
			 			<button type="button" class="btn btn-delete tooltip" ng-click="deleteCheckin(checkin.$id)" ><span>Apagar este check-in</span></button>
			 			<button type="button" class="btn btn-comments tooltip" ng-click="showComentBox(checkin)" ><span>Comente este check-in!</span></button>
			 		</div>
			 		<div class="info">
			 			<h2>{{ checkin.nome }} {{checkin.sobrenome}}</h2>
			 			<div class="date">{{ checkin.data | date: 'd MMM yy h:MM a' }}</div>
			 		</div>

					<div class="showcheckins" ng-show="checkin.show">
				 		<form id="love-form" ng-submit="postComment(checkin, checkin.commentText)" class="cf" novalidate="novalidate">
				 			<input type="text" name="commentText" placeholder="escreva seu comentário" ng-required="true" ng-model="checkin.commentText">

				 			<button type="submit" class="btn" ng-disable="love-form.$invalid">+</button>
				 		</form>
				 		<ul class="awardslist cf">
				 			<li class="cf" ng-repeat="(key, comment) in checkin.comments">
				 				<div class="award">
				 					<div class="buttons">
				 						<button class="btn btn-delete award tooltip" ng-click="deleteComment(checkin,key)"><span>Delete este award</span></button>
				 					</div>
				 					<p>{{ comment.text }}</p>
				 					<p><small>by: {{ comment.authorName }}</small></p>
				 				</div>
				 			</li>
				 		</ul>
					</div>
			 </div>
		</li>
	</ul>
</div>