<div class="card checkinslist cf">
  <div class="textintro">
    <h1>Eventos disponíveis</h1>
    <p>Veja aqui todos os eventos disponíveis para check-in</p>
    <p ng-show="message" class="error">{{ message }}</p>
    	<div class="search cf">
			<h2>Procurar Eventos</h2>
			<input type="text" ng-model="busca" placeholder="busca">
		</div>
		<div class="card meetings cf">	
			<ul class="userlist cf">
				<li ng-repeat="(key,appEvent) in appEventsList | orderBy:'-data':reverse | filter: busca">
					 <div class="checkin">
				 		<div class="info">
				 			<h2>{{appEvent.nome}}</h2>
				 			<div class="date"><b>Por:</b> {{ appEvent.authorName }}</div>
				 			<div class="date"><b>Cadastrado em:</b> {{ appEvent.data | date: 'd MMM yy h:MM a' }}</div>
				 			<div ng-show="appEvent.checkedin" class="date">Você já fez check-in neste evento.</div>
				 		</div>

				 		<div class="buttons" style="text-align: right;">
				 			<button ng-show="appEvent.isOwner" type="button" class="btn btn-delete tooltip" ng-click="deleteCheckin(checkin.$id)" ><span>Apagar este evento</span></button>

							<a  ng-show="appEvent.isOwner" ng-href="#/checkins/{{currentUser.$id}}/{{appEvent.id}}/checkinslist" class="btn btn-list tooltip"><span>Veja os check-ins deste evento</span></a>

							<button ng-hide="appEvent.checkedin" type="button" ng-click="doCheckin(appEvent)" class="btn btn-checkin tooltip"><span>Fazer checkin neste evento</span></button>
				 		</div>
					 </div>
				</li>
			</ul>
		</div>
  </div>
</div><!-- meetings cf -->
