.checkinslist { margin-top: 20px; }
.checkinslist h1 { color: #2D8BCF; }
.checkin h2 {
  margin: 0;
  padding: 0;
}
.checkin .btn {
  padding: 0;
  margin: 0 3px;
}

.checkinslist h3 { color: #657B83; }