/* Form Styles */

input {
    width: 100%;
    display: inline-block;
    font-weight: 100;
    padding: 15px;
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 100;
    color: #475B62;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline: 0;
  }
  
  input[type=radio] {
    width: auto;
  }
  
  
  .ng-enter.ng-enter-active,
  .ng-leave {
    opacity: 1;
    height: 80px;
    overflow: hidden;
  }
  
  .ng-leave.ng-leave-active,
  .ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  
  .showcheckins input {
    width: 80%;
  }
  
  .showcheckins .btn {
    margin: 0 3px;
    width: 15%;
    padding: 8px !important;
  }
  
  fieldset {
    margin: 10px 0;
  }
  
  .textintro h1 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  
  .search {
    background: #F5F5F5;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px 30px;
    border-radius: 4px;
    text-align: left;
    font-size: 1.1rem;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  }
  
  .search h2 {
    color: #124E61;
    margin-bottom: 10px;
  }
  
  .search select {
    font-size: 1rem;
    padding: 10px 0 10px 15px;
    color: #475B62;
    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(0,0,0,0.3);
  }
  
  .search input[type="text"] {
    margin-bottom: 10px;
  }
  
  .search input[type="checkbox"] {
    display: inline;
      background-color: #ddd;
      border: 1px solid #C5C5C5;
      display: inline-block;
      margin-right: 15px;
      -webkit-appearance: none;
  }
  
  .search label {
    font-size: 1rem;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    color: #576E75;
  }
  
  .search .formgroup {
    float: left;
    width: 33%;
  }
  
  .search .buttons {
    display: block;
    width: 33%;
    float: right;
    text-align: right;
  }
  
  @media all and (max-width: 700px) {
    .search .formgroup {
      width: 50%;
    }
  
    .search .buttons {
      width: 100%;
      float: right;
    }
  }
  
  @media all and (max-width: 550px) {
    .search .formgroup {
      width: 100%;
    }
  }